/.idea
/build
/dist
/*.egg-info
/.coverage
/cover
/*/*/build
*.so
*.zo
*.pyc
*.jar
/prefs.yml
/tests/test_data/roms/real_EarthBound.smc
/TODO.txt
/coilsnake/assets/ccc/ccc
/coilsnake/assets/ccc/lib/*.ccs