/.idea
/build
/dist
/*.egg-info
/.coverage
/*/*/build
/.vagrant
*.so
*.zo
*.py[cd]
/tests/test_data/roms/variants
/tests/test_data/roms/real_EarthBound.smc
/TODO.txt
/coilsnake/assets/ccc/ccc
/coilsnake/assets/ccc/lib/*.ccs
.DS_store
git_commit.py
