/.idea
/build
/dist
/*.egg-info
/.coverage
/*/*/build
*.so
*.zo
*.pyc
/tests/test_data/roms/real_EarthBound.smc
/TODO.txt
/coilsnake/assets/modulelist-override.txt
/coilsnake/assets/ccc/ccc
/coilsnake/assets/ccc/lib/*.ccs
