[submodule "ccscript_legacy"]
	path = ccscript_legacy
	url = git://github.com/mraccident/ccscript_legacy.git
[submodule "mobile-sprout"]
	path = mobile-sprout
	url = git://github.com/kiij/mobile-sprout
