.short-description {
  font-style: italic;
  color #444;
}

img.screenshot {
  float: right;
  border: 5px #b7b7b7 solid;
  border-radius: 30px;
  margin: 0 1em 0 1em;
}

.version {
  float: right;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
}

#project_grid {
  margin-bottom: 20px;
}

#project_grid .project {
  width: 100%;
  height: 100%;
}

#project_grid .project .project_button {
  position: relative;
  width: 256px;
  height: 112px;
  margin: 4px auto 4px auto;
  border: 5px #b7b7b7 solid;
  border-radius: 30px;
}

#project_grid .project .project_button:hover {
  border-color: #b3b3b3;
}

#project_grid .project .project_button a {
  display: block;
  width: 100%;
  height: 100%;
}

#project_grid .project .project_button span {
  position: absolute;
  right: 0;
  top: 0;
  border-top: solid 1px #b7b7b7;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 22px;
  padding: 0.3em 0.5em 0.3em 0.6em;

  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

  color: #303030;
  font-weight: bold;
  text-shadow: none;
}

#project_grid .project .project_button:hover span {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

header h1, header h2 {
  text-align: center;
}
