body {
  font-size: 17px;
  line-height: 1.5;
  font-family: 'Georgia', serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #000;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
}

h1 {
  margin: 0;
  background: url(../images/coilsnake.png) no-repeat center;
  height: 164px;
}

h1 span {
  display: none;
}

h2 {
  font-size: 22px;
  margin: 0 0 8px 0;
}

section {
  margin-bottom: 15px;
}

p {
  margin: 0 0 20px 0;
}

ul {
  margin: 0 0 2px 0;
}

footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
  text-align: right;
}

a {
  text-decoration: none;
  color: #004B6B;;
}

a:hover {
  color: #6D4100;
}

a.button {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border-top: solid 1px #cbcbcb;
  border-left: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  color: #303030;
  line-height: 25px;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 8px 12px 8px;
  display: block;
  float: left;
  width: 126px;
  margin-right: 14px;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
}
a.button:hover {
  border-top: solid 1px #b7b7b7;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

a.button span {
  padding-left: 45px;
  display: block;
  height: 26px;
}

a.button span.disabled {
  text-decoration: line-through;
  color: grey;
}

code, pre {
  font-family: Courier;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

div#container {
  min-height: 595px;
}

div#container .inner {
  width: 620px;
  margin: 0 auto;
}

section#downloads {
  display: block; 
} 

section#s_introduction p {
  color: #444;
  font-style: italic;
}

.project {
  width: 100%;
  height: 100%
}

.project .project_button {
  position: relative;
  width: 256px;
  height: 112px;
  margin: 4px auto 4px auto;
  border: 5px #b7b7b7 solid;
  border-radius: 30px;
}

.project .project_button:hover {
  border-color: #b3b3b3;
}

.project .project_button a {
  display: block;
  width: 100%;
  height: 100%;
}

.project .project_button span {
  position: absolute;
  right: 0;
  top: 0;
  border-top: solid 1px #b7b7b7;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 22px;
  padding: 0.3em 0.5em 0.3em 0.6em;

  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

  color: #303030;
  font-weight: bold;
  text-shadow: none;
}

.project .project_button:hover span {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

#download-windows span {
  background: transparent url(../images/windows-icon.png) 7px 50% no-repeat;
}
#download-mac span {
  background: transparent url(../images/mac-icon.png) 7px 50% no-repeat;
}
#download-linux span {
  background: transparent url(../images/linux-icon.png) 7px 50% no-repeat;
}
#download-zip span {
  background: transparent url(../images/zip-icon.png) 7px 50% no-repeat;
}
#download-tar-gz span {
  background: transparent url(../images/tar-gz-icon.png) 7px 50% no-repeat;
}
#view-documentation span {
  padding-left: 47px;
  background: transparent url(../images/doc-icon.png) 7px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 7px 50% no-repeat;
}
#view-on-github {
  margin-right: 0;
}

section .topright {
  float: right;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
}

