<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{site.title}}</title>
</head>

<body>
<div id="container">
    <div class="inner">

        <header>

          <div id="social-media">
            <a href="{{site.social_media_links.github}}"><img class="social-media-icon" src="images/github-48x48.png"></a>
          </div>

          <a href="index.html"><h1><span>{{site.title}}</span></h1></a>
        </header>

        <section id="downloads" class="clearfix">
          <a href="{{site.windows_download_url}}" id="download-windows" class="button"><span>Download</span></a>
          <a href="download.html" id="download-linux" class="button"><span>Download</span></a>
          <a href="https://github.com/pk-hack/CoilSnake/wiki/Tutorial" id="view-documentation" class="button"><span>Tutorial</span></a>
        </section>

        <section id="main_content">

          {{content}}
        
        </section>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

        </script>
        <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-36045651-3");
            pageTracker._trackPageview();
            } catch(err) {}

        </script>

    </div>
</div>
</body>
</html>
